.landing-page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.hero {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/images/background-img.png');
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  height: 850px;
  backgroun-color: #000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: black; /* changed from white */
  width: 60%;
  margin: auto;
  margin-top: 9rem;
  /* margin-bottom: 0; removed */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
  border-radius: 7px;
  padding: 20px;
}

.overlayContent {
  position: relative;
  z-index: 20;
  margin: 20px;
  max-width: 900px;
  padding: 20px;
  border-radius: 10px;
}

.overlay h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: black; /* changed from #2196f3 */
}

.overlay p {
  font-size: 1.4em;
  line-height: 1.4;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: black; /* changed from #2196f3 */
}

.benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.benefits p {
  font-size: 0.8em;
}

.footer {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.footer p {
  font-size: 0.9em;
  margin: 0;
}

/* .heroButtons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.heroButtons button {
  background-color: #ee7718;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
} */
