.landing-page {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.hero {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/images/background-img.png');
  background-size: cover;
  background-position: center;
  filter: blur(0.2);
  min-height: 700px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  width: 60%;
  margin: 0 auto;
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
  border-radius: 20px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.overlayContent {
  position: relative;
  z-index: 20;
  max-width: 700px;
}

.overlay h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.overlay p {
  font-size: 1.1em;
  line-height: 1.5;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.benefits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.subbenefits {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
}

.subbenefits img {
  grid-column: 1;
}

.subbenefits p {
  text-align: left;
}
.benefits p {
  font-size: 1.2em;
  color: black;
}

@media (max-width: 768px) {
  .overlayContent {
    padding: 1rem;
  }
  .overlay h1 {
    font-size: 2rem;
  }
  .overlay p {
    font-size: 1rem;
  }
}

.footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.footer p {
  font-size: 1em;
  margin: 0;
}
