.textContent {
  padding: 20px;
  text-align: left;
}

.heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.button,
.activeButton {
  margin-bottom: 20px;
  margin-right: 10px;
}

.button,
.activeButton {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
}

.activeButton {
  background-color: #ee7718;
}

.text {
  font-size: 1.2rem;
  line-height: 1.5;
}
