.header {
  background-color: #fff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 1.8em;
  margin: 0;
  color: #2196f3;
  font-weight: bold;
}

.navLink {
  white-space: nowrap;
  text-decoration: none;
  padding: 0.6em 0.8em;
  /* background-color: #eee; */
  /* border-bottom: 3px solid #eee; */
  display: block;
  font-size: 0.93em;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  color: black; /* changed from #2196f3 */
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header nav li {
  margin-right: 20px;
}

.header nav li:first-child {
  margin-left: 0;
}

.authButtons {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}

.loginButton {
  background-color: #ee7718;
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  margin-left: 10px;
}

.signupButton {
  background-color: #55504c;
  color: #fff;
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  margin-left: 10px;
}

.loginButton:hover,
.signupButton:hover {
  background-color: #f0f0f0;
}
