.slider {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 400px; /* Adjust height as needed */
}

.sliderImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sliderButtonPrev,
.sliderButtonNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 2rem;
  color: #fff; /* Adjust color based on your design */
  transition: all 0.3s ease;
}

.sliderButtonPrev:hover,
.sliderButtonNext:hover {
  opacity: 0.8;
}

.sliderButtonPrev {
  left: 10px; /* Adjust spacing */
}

.sliderButtonNext {
  right: 10px; /* Adjust spacing */
}
